<div class="d-flex justify-content-between align-items-center mb-3">
  <div style="font-size: 22px; font-weight: 800">Données lues</div>
  <div></div>
</div>

<div>
  <nz-card
    [nzBordered]="false"
    nzTitle="Données lues"
    [nzExtra]="extraTemplate"
  >
    <nz-table
      #basicTable
      [nzData]="alarmes"
      [nzLoading]="loading"
      [nzTotal]="total"
      [nzPageSize]="pageSize"
      [nzPageIndex]="pageIndex"
      [nzFrontPagination]="false"
      nzShowSizeChanger
      (nzQueryParams)="onQueryParamsChange($event)"
      nzShowSizeChanger
      [nzScroll]="{ x: '1600px' }"
    >
      <thead>
        <tr>
          <th nzLeft>Cluster-SiteID</th>
          <th nzLeft>Nom du site</th>
          <th>IL_1 / IL_2 / IL_3</th>
          <th>IDC Tenant1</th>
          <th>AC UL_1/UL_2/UL_3</th>
          <th>IGL_1 / IGL_2 / IGL_3</th>
          <th>Début</th>
          <th>Modifiée le</th>
          <th nzWidth="80px" nzRight>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of basicTable.data">
          <td nzLeft>{{ a.siteId }}</td>
          <td nzLeft>{{ a.siteName }}</td>
          <td>{{ a?.iL1 }} / {{ a?.iL2 }} / {{ a?.iL3 }}</td>
          <td>{{ a.idc1 }}</td>
          <td>{{ a.uL1 }} / {{ a.uL2 }} / {{ a.uL3 }}</td>
          <td>{{ a.igl1 }} / {{ a.igl2 }} / {{ a.igl3 }}</td>
          <td>{{ a.createdAt | dateFormat }}</td>
          <td>{{ a.updatedAt | dateFormat }}</td>
          <td nzRight class="text-end">
            <button (click)="viewSiteDetails(a?.id)" nz-button nzType="primary">
              <span class="fa fa-eye"></span>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </nz-card>
</div>
<ng-template #extraTemplate>
  <div class="justify-content-between d-flex align-items-center">
    <div class="me-2 fw-bold">Filtre:</div>
    <div>
      <input
        nz-input
        placeholder="Search by site Id"
        [(ngModel)]="siteId"
        (input)="onSiteSearch($event.target)"
        style="min-width: 120px"
      />
    </div>

    <div class="mx-3">
      <input
        nz-input
        placeholder="Search by site Name"
        [(ngModel)]="alarmName"
        (input)="onAlarmSearch($event.target)"
        style="min-width: 120px"
      />
    </div>

    <div>
      <nz-form-control nzerrortip="The input is not valid">
        <nz-date-picker
          nzPlaceHolder="Search by start date"
          [(ngModel)]="date"
          (ngModelChange)="onDateSearch($event)"
          style="width: 100%"
          nzformat="yyyy-MM-dd"
          nzshowtime
        ></nz-date-picker>
      </nz-form-control>
    </div>
    <button
      class="ms-3"
      (click)="reloadData()"
      nz-button
      class="btn btn-outline-warning ms-5 me-2"
    >
      <span class="fa fa-refresh"></span>
    </button>
    <button class="ms-3" (click)="applayFilter()" nz-button nzType="primary">
      <span class="fa fa-search"></span>
    </button>
  </div>
</ng-template>
