
<form nz-form [formGroup]="siteForm" (ngSubmit)="saveSite()">
<nz-card style="width:100%;" [nzBodyStyle]="{padding: '0'}" nzTitle="Add Site" [nzExtra]="extraTemplate">
        <div class="row mt-4">
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>KiSite</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please input KiSite">
                        <input nz-input formControlName="KiSite" placeholder="KiSite" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Cluster</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="cluster" placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #cluster>
                            <nz-auto-option *ngFor="let option of clusters" [nzValue]="option"
                                [nzLabel]="option">{{option}}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    
        <div class="row">
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Site Name</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please input Site Name">
                        <input nz-input formControlName="SiteName" placeholder="Site Name" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>Site Type</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please select Site Type">
                        <nz-select formControlName="SiteType" placeholder="Site Type">
                            <nz-option *ngFor="let type of siteTypes" [nzValue]="type" [nzLabel]="type"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    
        <div class="row">
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>GE</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please select GE">
                        <nz-select formControlName="GE" nzMode="multiple" nzPlaceHolder="Select GE">
                            <nz-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>FS</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please select FS">
                        <nz-select formControlName="FS" nzMode="multiple" nzPlaceHolder="Select FS">
                            <nz-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <nz-form-item>
                    <nz-form-label [nzSpan]="6" nzRequired>FE</nz-form-label>
                    <nz-form-control [nzSpan]="14" nzErrorTip="Please select FE">
                        <nz-select formControlName="FE" nzMode="multiple" nzPlaceHolder="Select FE">
                            <nz-option *ngFor="let option of options" [nzValue]="option" [nzLabel]="option"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    
        
</nz-card> 
<ng-template #extraTemplate>
    <div class="d-flex justify-content-between align-items-center">
        <nz-form-item style="padding-top: 0px !important; margin-bottom: 0px !important;">
            <nz-form-control>
                <button nz-button nzType="primary" type="submit" [disabled]="!siteForm.valid">Save</button>
            </nz-form-control>
        </nz-form-item>
        <button nz-button nzType="default"  class="ms-2" >Cancel</button>
    </div>
</ng-template>
</form>

