<form nz-form [formGroup]="siteForm" (ngSubmit)="saveSite()">
  <nz-card
    style="width: 100%"
    [nzBodyStyle]="{ padding: '0' }"
    nzTitle="Add Site"
    [nzExtra]="extraTemplate">
    <div class="row mt-4">
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" nzRequired>SiteId</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please input SiteId">
            <input nz-input formControlName="siteId" placeholder="SiteId" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >HTS Site ID</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please input HTS Site ID">
            <input
              nz-input
              formControlName="customerId"
              placeholder="HTS Site ID" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired>Site Name</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please input Site Name">
            <input
              nz-input
              formControlName="siteName"
              placeholder="Site Name" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >Financial Site
            ID</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Financial Site ID">
            <input
              nz-input
              formControlName="financialSiteId"
              placeholder="Financial Site ID" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >Site Class</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select Site Class">
            <nz-select
              formControlName="siteClass"
              placeholder="Site Class"
              nzPlaceHolder="Class">
              <nz-option
                *ngFor="let classe of classes"
                [nzValue]="classe"
                [nzLabel]="classe"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired>Site Type</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select Site Class">
            <nz-select
              formControlName="siteType"
              placeholder="Site Type"
              nzPlaceHolder="Class Type">
              <nz-option
                *ngFor="let type of siteTypes"
                [nzValue]="type.key"
                [nzLabel]="type.name"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired >Cluster</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzErrorTip="The input is not valid">
            <nz-input-group nzPrefixIcon="search">
              <input
                type="text"
                nz-input
                formControlName="clusterNumber"
                [nzAutocomplete]="cluster"
                placeholder="Search..." />
            </nz-input-group>
            <nz-autocomplete #cluster>
              <nz-auto-option
                *ngFor="let option of clusters"
                [nzValue]="option.clusterNumber"
                [nzLabel]="option.clusterNumber">{{ option.clusterNumber
                }}</nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired >User Group</nz-form-label>
          <nz-form-control
            [nzSpan]="12"
            nzErrorTip="The input is not valid">
            <nz-select
              formControlName="userGroup"
              nzPlaceHolder="Select User Group" class="w-100">
              <nz-option
                *ngFor="let ug of userGroups"
                [nzValue]="ug.id"
                [nzLabel]="ug.name">
                {{ ug.name }}
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >Battery</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select Battery">
            <nz-select
              formControlName="battery"
              placeholder="Battery"
              nzPlaceHolder="Battery">
              <nz-option
                *ngFor="let b of batteries"
                [nzValue]="b"
                [nzLabel]="b"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Solaire</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please input HTS Site ID">
            <input nz-input formControlName="solar" placeholder="Solaire" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">GE</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select GE">
            <nz-select
              formControlName="ge"
              placeholder="Site Class"
              nzPlaceHolder="GE">
              <nz-option
                *ngFor="let ge of ges"
                [nzValue]="ge"
                [nzLabel]="ge"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired >FS</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select FS">
            <nz-select
              formControlName="fs"
              nzMode="multiple"
              nzPlaceHolder="Select FS">
              <nz-option
                *ngFor="let fs of fss"
                [nzValue]="fs.id"
                [nzLabel]="fs.firstName + ' ' + fs.lastName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8"  nzRequired>FE</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select FE">
            <nz-select
              formControlName="fe"
              nzMode="multiple"
              nzPlaceHolder="Select FE">
              <nz-option
                *ngFor="let fe of fes"
                [nzValue]="fe.id"
                [nzLabel]="fe.firstName + ' ' + fe.lastName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8" >ZM</nz-form-label>
          <nz-form-control [nzSpan]="12" nzErrorTip="Please select ZM">
            <nz-select
              formControlName="fs"
              nzMode="multiple"
              nzPlaceHolder="Select FS">
              <nz-option
                *ngFor="let zm of zms"
                [nzValue]="zm.id"
                [nzLabel]="zm.firstName + ' ' + zm.lastName"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <!-- Additional Fields -->
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Maintenance Partner</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="partnerMaintenance" placeholder="Maintenance Partner" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Transition Maintenance
            Partner</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="transitionPartnerMaintenance" placeholder="Transition Maintenance Partner" />
          </nz-form-control>
        </nz-form-item>
      </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Fuel Transporter</nz-form-label>
            <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="fuelTransporter" placeholder="Fuel Transporter" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="8">Transition Fuel
              Transporter</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input nz-input formControlName="transitionFuelTransporter" placeholder="Transition Fuel Transporter" />
            </nz-form-control>
          </nz-form-item>
        </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Security Partner</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="securityPartner" placeholder="Security Partner" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Transition Security
            Partner</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="transitionSecurityPartner" placeholder="Transition Security Partner" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Security Partner
            Representative</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="securityPartnerRepresentative"
              placeholder="Security Partner Representative" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Structure Type</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select
              formControlName="structureType"
              nzPlaceHolder="Structure Type">
              <nz-option
                *ngFor="let sType of structureTypes"
                [nzValue]="sType"
                [nzLabel]="sType"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Structure Height (m)</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              type="number"
              nz-input
              formControlName="structureHeight"
              placeholder="Structure Height" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Available For Co-location</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select
              formControlName="availableForLocation"
              nzPlaceHolder="Available For Co-location">
              <nz-option [nzValue]="'yes'" nzLabel="Yes"></nz-option>
              <nz-option [nzValue]="'no'" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
     
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Hybrid</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select formControlName="hybrid" nzPlaceHolder="Hybrid">
              <nz-option [nzValue]="'yes'" nzLabel="Yes"></nz-option>
              <nz-option [nzValue]="'no'" nzLabel="No"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Site Status</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select formControlName="status" nzPlaceHolder="Site Status">
              <nz-option
                *ngFor="let status of siteStatus"
                [nzValue]="status"
                [nzLabel]="status"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">RFI Date</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-date-picker
              class="w-100"
              formControlName="rfiDate"
              nzPlaceHolder="Select RFI Date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">On Air Date</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-date-picker
              class="w-100"
              formControlName="onAirDate"
              nzPlaceHolder="Select On Air Date"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Landlord Name</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="landlorName"
              placeholder="Landlord Name" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Ground Lease Status</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-select
              formControlName="groundLeaseStatus"
              nzPlaceHolder="Ground Lease Status">
              <nz-option
                *ngFor="let status of groundLeaseStatuses"
                [nzValue]="status"
                [nzLabel]="status"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Population Density</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="populationDensity"
              placeholder="Population Density" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">District</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="district" placeholder="District" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Zone</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input formControlName="zone" placeholder="Zone" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Regional Head</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="regionalHead"
              placeholder="Regional Head" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Zonal Head</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="zonalHead"
              placeholder="Zonal Head" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">Field Supervisor</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="fieldSupervisor"
              placeholder="Field Supervisor" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">MP Field Engineer</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="mpFieldEngineer"
              placeholder="MP Field Engineer" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">FP Field Engineer</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="fpFieldEngineer"
              placeholder="FP Field Engineer" />
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="col-6">
        <nz-form-item>
          <nz-form-label [nzSpan]="8">FP Field Engineer</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input
              nz-input
              formControlName="nocManagernotification"
              placeholder="NOC Manager Notification" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <fieldset style="margin: 8px 5%" class="border p-2">
      <legend>Address</legend>
      <div class="row">
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">Country</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input Country">
              <input
                nz-input
                id="autocomplete"
                formControlName="country"
                placeholder="Enter your address"
                type="text" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">Region</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input Region">
              <input nz-input formControlName="region" placeholder="Region" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">City</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input city">
              <input nz-input formControlName="city" placeholder="City" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">Street</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input street">
              <input nz-input formControlName="street" placeholder="Street" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">Latitude</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input Latitude">
              <input
                type="number"
                nz-input
                formControlName="lat"
                placeholder="Latitude" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item formGroupName="address">
            <nz-form-label [nzSpan]="8">Longitude</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please input Longitude">
              <input
                type="number"
                nz-input
                formControlName="lng"
                placeholder="Longitude" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </fieldset>
    <div class="p-4 text-end">
      <button nz-button nzType="primary" type="submit">Save</button>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <div class="d-flex justify-content-between align-items-center">
      <nz-form-item
        style="padding-top: 0px !important; margin-bottom: 0px !important">
        <nz-form-control>
          <button nz-button nzType="primary" type="submit">Save</button>
        </nz-form-control>
      </nz-form-item>
    </div>
  </ng-template>
</form>

<ngx-loading [show]="this.isLoading"></ngx-loading>
