<div class="container px-5 py-2">
  <div class="mb-3">
    <app-ticket-management-steper [type]="'task'" [status]="this.task?.status"></app-ticket-management-steper>
  </div>
  <form style="margin-left: 5%; margin-right: 5%;" nz-form [formGroup]="taskForm!">

    <div class="d-flex justify-content-between mt-3">
      <div class="alarm-ticket-form-left">
        <nz-form-item>
          <nz-form-label [nzXs]="10" nzFor="number">Number</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The number is not valid">
            <input nz-input id="number" formControlName="number" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="10" nzRequired>Site</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input [nzAutocomplete]="sites" formControlName="site" placeholder="Search...">
            </nz-input-group>
            <nz-autocomplete #sites>
              <nz-auto-option *ngFor="let option of filteredSites" [nzValue]="option">{{ option.siteId
                }}</nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="10">Parent</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input [nzAutocomplete]="siteAccessRequest" formControlName="siteAccessRequest"
                placeholder="Search...">
            </nz-input-group>
            <nz-autocomplete #siteAccessRequest>
              <nz-auto-option *ngFor="let option of filteredParents" [nzValue]="option">{{ option }}</nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="10" nzFor="source-task">Source task</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="Source task is not valid">
            <input nz-input id="source-task" formControlName="sourceTask" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="20">Additional site visit required?</nz-form-label>
          <nz-form-control [nzXs]="4" nzErrorTip="The input is not valid">
            <label nz-checkbox formControlName="additionalSiteVisiteRequired"></label>
          </nz-form-control>
        </nz-form-item>
      </div>

      <div class="alarm-ticket-form-right">
        <nz-form-item>
          <nz-form-label [nzXs]="10" nzFor="state">State</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
            <input nz-input id="state" formControlName="state" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="10">Assignment group</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input [nzAutocomplete]="assignmentGroup" formControlName="assignmentGroup"
                placeholder="Search...">
            </nz-input-group>
            <nz-autocomplete #assignmentGroup>
              <nz-auto-option *ngFor="let option of filteredAssignmentGroups" [nzValue]="option">{{ option.name
                }}</nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzXs]="10" nzRequired>Assigned to</nz-form-label>
          <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
            <nz-input-group nzPrefixIcon="search">
              <input type="text" nz-input [nzAutocomplete]="assignedTo" formControlName="assignedTo"
                placeholder="Search...">
            </nz-input-group>
            <nz-autocomplete #assignedTo>
              <nz-auto-option *ngFor="let option of filteredAssignedTo" [nzValue]="option">{{ option.firstName }} {{
                option.lastName }}</nz-auto-option>
            </nz-autocomplete>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div class="mt-2">
      <nz-form-item style="width: 100%;">
        <nz-form-label [nzXs]="4" nzFor="shortDescription">Short description</nz-form-label>
        <nz-form-control [nzXs]="20" nzErrorTip="The input is not valid">
          <input nz-input id="shortDescription" formControlName="shortDescription" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="width: 100%;">
        <nz-form-label [nzXs]="4" nzFor="description">Description</nz-form-label>
        <nz-form-control [nzXs]="20" [nzXs]="24" nzErrorTip="The input is not valid">
          <textarea nz-input formControlName="description"
            placeholder="Autosize height with minimum and maximum number of lines"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="width: 100%;">
        <nz-form-label [nzXs]="4" nzFor="resolution">Resolution</nz-form-label>
        <nz-form-control [nzXs]="20" nzErrorTip="The input is not valid">
          <input nz-input id="resolution" formControlName="resolution" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item style="width: 100%;">
        <nz-form-label [nzXs]="4" nzFor="additionalComments">Additional comments</nz-form-label>
        <nz-form-control [nzXs]="20" nzErrorTip="The input is not valid">
          <textarea nz-input formControlName="additionalComments"
            placeholder="Autosize height with minimum and maximum number of lines"
            [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div class="text-end mb-2" style="margin-right: 60px;">
      <button nz-button nzType="primary">Submit</button>
    </div>
  </form>

</div>