.formsearch{
    flex: 1 1 0; 
    color: #898989;
     font-size: 14px; 
     font-family: Inter; 
     font-weight: 400; line-height: 23px;
     word-wrap: break-word;
}
.button1{
  text-align: center;
   color: white; 
   font-size: 14px;
   font-family: Inter; 
   font-weight: 500; 
   line-height: 20px; 
   word-wrap: break-word;
}
table{
  text-align: center;
   color: #20252A;
    font-size: 16px; 
    font-family: Poppins; 
    font-weight: 400; 
    line-height: 24px; 
    word-wrap: break-word;
}
.ngx-pagination {
  padding-left: 0px !important;
}

.ngx-pagination .current,
.btn-info {
  background: #17a2b8 !important;
  border: transparent !important;
  border-radius: 20px !important;
}

.ngx-pagination .current:hover {
  background: #17a2b8 !important;
  border-radius: 20px !important; 
  border: transparent !important;
}
