<nz-card style="width:100%;" [nzBodyStyle]="{padding: '0'}" nzTitle="Sites" [nzExtra]="extraTemplate">
  <nz-table #basicTable [nzData]="sites" [nzBordered]="true" 
  (nzQueryParams)="onQueryParamsChange($event)" 
  [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzShowSizeChanger [nzScroll]="{ x: '1600px' }">
    <thead>
      <tr>
        <th nzLeft>SiteId</th>
        <th nzLeft>Cluster</th>
        <th >Site Name</th>
        <th>Site Type</th>
        <th>Customer ID</th>
        <th>Genset</th>
        <th>Battery</th>
        <th>Location</th>
        <th>GE</th>
        <th>FS</th>
        <th>FE</th>
        <th nzWidth="80px" nzRight class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let site of basicTable.data">
        <td nzLeft>{{ site.siteId }}</td>
        <td nzLeft>{{ site.cluster }}</td>
        <td >{{ site.siteName }}</td>
        <td>{{ site.siteType }}</td>
        <td>{{ site.customerId }}</td>
        <td>{{ site.genset }}</td>
        <td>{{ site.battery }}</td>
        <td>{{ site.location.city }}, {{ site.location.country }}, {{ site.location.region }}</td>
        <td>{{ site.GE}}</td>
        <td>{{ site.FS.join(', ') }}</td>
        <td>{{ site.FE.join(', ') }}</td>
        <td nzRight class="text-end">
          <button (click)="viewSiteDetails(site?.id)" nz-button nzType="primary"><span class="fa fa-eye"></span></button>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <button nz-button nzType="primary" [routerLink]="['/admin/sites']" [queryParams]="{ type: 'form' }">Add Site</button>
</ng-template>


