<nz-card style="width:100%;" [nzBodyStyle]="{padding: '0'}"  nzTitle="Sites" [nzExtra]="extraTemplate">
  <nz-table #basicTable 
  [nzData]="sites" 
  [nzBordered]="true" 
  (nzQueryParams)="onQueryParamsChange($event)" 
  [nzLoading]="loading" 
  [nzTotal]="total" 
  [nzPageSize]="pageSize"
  [nzPageIndex]="pageIndex"
  nzShowSizeChanger
  [nzFrontPagination]="false"
  nzShowSizeChanger [nzScroll]="{ x: '1600px' }">
    <thead>
      <tr>
        <th nzLeft>SiteId</th>
        <th nzLeft>Cluster</th>
        <th>ZM</th>
        <th >Site Name</th>
        <th>Site Type</th>
        <th>Customer ID</th>
        <th>Genset</th>
        <th>Battery</th>
        <th>Solaire</th>
        <th>Location</th>
        <th>GE</th>
        <th>FS</th>
        <th>FE</th>
        <th nzWidth="140px" nzRight class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let site of basicTable.data">
        <td nzLeft>{{ site.siteId }}</td>
        <td nzLeft>{{ site.cluster?.clusterNumber !== undefined ? site.cluster?.clusterNumber: site.cluster  }}</td>
        <td>{{ site.zm??'N/A' }}</td>
        <td >{{ site.siteName }}</td>
        <td>{{ site.siteType }}</td>
        <td>{{ site.customerId }}</td>
        <td>{{ site.genset }}</td>
        <td>{{ site.battery }}</td>
        <td>{{ site.solar }}</td>
        <td>{{ site.location?.city }}, {{ site.location?.country }}, {{ site.location?.region }}</td>
        <td>{{ site.GE}}</td>
        <td>{{ site.FS?.join(', ') }}</td>
        <td>{{ site.FE?.join(', ') }}</td>
        <td nzRight >
          <div class="d-flex justify-content-between">
            <button (click)="viewSiteDetails(site?.id)" nz-button  class="btn btn-info"><span class="fa fa-eye "></span></button>
            <button [routerLink]="['/admin/sites']" [queryParams]="{ type: 'form', id: site?.id }" nz-button  class="btn btn-primary ms-2"><span class="fa fa-edit "></span></button>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>
<ng-template #extraTemplate>
  <div class="d-flex justify-content-end">
    <button nz-button nzType="primary" [routerLink]="['/admin/sites']" [queryParams]="{ type: 'form' }">Add Site</button>
  </div>
  <div class="justify-content-between d-flex align-items-center mt-4 ">
    <div class="me-2 fw-bold">Filtre: </div>
    <div>
      <input nz-input 
             placeholder="Search by site Id" 
             [(ngModel)]="siteId" 
             (input)="onSiteIdSearch($event.target)" 
             style="min-width: 120px;" />
    </div>
    <div class="mx-3">
     
      <nz-form-control  nzErrorTip="The input is not valid">
       <nz-select 
       [(ngModel)]="selectedCluster" 
       (ngModelChange)="onClusterSearch($event)"
       
       style="width: 160px;"
       name="status" nzPlaceHolder="Search by cluster">
           <nz-option *ngFor="let cluster of clusters" [nzValue]="cluster?.clusterNumber" [nzLabel]="cluster?.clusterNumber??''">{{cluster?.clusterNumber}}</nz-option>
       </nz-select>
   </nz-form-control>
</div>
    <div>
      <input nz-input 
             placeholder="Search by site Name" 
             [(ngModel)]="siteName" 
             (input)="onSiteNameSearch($event.target)" 
             style="min-width: 120px;" />
    </div>
    
    <button class="ms-3" (click)="reloadData()" nz-button class="btn btn-outline-warning ms-5 me-2"><span class="fa fa-refresh"></span></button>
    <button class="ms-3" (click)="applayFilter()" nz-button nzType="primary"><span class="fa fa-search"></span></button>
  </div>
</ng-template>


