
    <div class="login">
      <div class="div">
        <div class="overlap">
          <div class="frame">
            <img class="RMS" src="https://c.animaapp.com/LntuA3XQ/img/rms@2x.png" />
            <div class="frame-2">
              <div class="connexion">CONNEXION</div>
              <div class="frame-3">
                <div class="frame-4">
                  <div class="frame-5">
                  </div>
                  <div class="or">
                    <div class="overlap-group">
                      <div class="line">
                        <img class="line-2" src="https://c.animaapp.com/LntuA3XQ/img/line-2.svg" />
                        <img class="line-3" src="https://c.animaapp.com/LntuA3XQ/img/line-1.svg" />
                      </div>
                      <div class="or-2"><div class="text-wrapper-2">Ou</div></div>
                    </div>
                  </div>
                </div>
                
                <div class="frame-2">
                 <form [formGroup]="formLogin" (ngSubmit)="handleLogin()">
                  <div class="frame-6">
                    <div class="frame-7 ">
                      <div class="div-3 ">
                        <div class="frame-8" >
                          <div class="text-wrapper-3">Email</div>
                          <div class="text-wrapper-4">*</div>
                        </div>
                        <div class="input-field">
                          <input class="input" placeholder="nom d'utilisateur" type="text" class="form-control" formControlName="username" />
                        </div>
                      </div>
                      <div class="div-3 ">
                        <div class="text-wrapper-3">Mot de passe</div>
                        <div class="input-field-2" >
                          <div class="dots">
                            <input type="password" class="input-field-2"  placeholder="mot de passe" class="form-control" formControlName="password">
                          </div>
                          
                        </div>
                      </div>
                    </div>
                    <button class="button" style="color: white;">Se connecter</button>
                  </div>
                </form>
                  <p class="vous-n-avez-pas">
                    <span class="span">Vous n&#39;avez pas encore de compte ? </span>
                    <span class="text-wrapper-5">Créer un compte</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="overlap-2">
          <div class="frame-9">
            <img class="chat-text" src="https://c.animaapp.com/LntuA3XQ/img/chat-text.svg" />
            <div class="text-wrapper-6"> Rejoignez-nous maintenant !</div>
          </div>
          <p class="p">
            Bienvenue sur RemoteView, la solution de supervision de Comet !
          </p>
           <p class="p1">RemoteView assure une surveillance avancée et précise des éléments passifs essentiels à votre infrastructure, dans les télécommunications, la production d'eau ou d'énergie. Avec nos trackers spécialisés, accédez à une visibilité complète et en temps réel sur votre réseau. <br>
          </p>
          <img class="undraw-os-upgrade-re" src="https://c.animaapp.com/LntuA3XQ/img/undraw-os-upgrade-re-r0qa-1.svg" />
        </div>
      </div>
    </div>
  

