<div class="forget-password-container">
  <nz-card class="forget-password-card" nzHoverable>
    <h3 class="title">Réinitialisation</h3>
    <p class="subtitle">
      Vous recevez par mail les instructions de réinitialisation du mot de passe .
    </p>

    <!-- Form -->
    <form nz-form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()">
      <nz-form-item>
        <nz-form-control [nzErrorTip]="emailErrorTpl">
          <nz-input-group nzPrefixIcon="mail" nzSize="large">
            <input
              nz-input
              formControlName="email"
              placeholder="Email"
              type="email"
            />
          </nz-input-group>
        </nz-form-control>
        <ng-template #emailErrorTpl>
          <span *ngIf="forgetPasswordForm.controls['email'].hasError('required')">
            Email obligatoire.
          </span>
          <span *ngIf="forgetPasswordForm.controls['email'].hasError('email')">
            Enter un mail valide.
          </span>
        </ng-template>
      </nz-form-item>

      <button style="margin-top: 20px;" nz-button nzType="primary" nzBlock nzSize="large" [disabled]="!forgetPasswordForm.valid">
        Recevoir les instructions
      </button>
    </form>

    <!-- Back to Login -->
    <p class="back-to-login">
      Remembered your password? <a (click)="goBackToLogin()">Login</a>
    </p>
  </nz-card>
</div>
