.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
  }
  
  nz-card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }
  