<div class="center-container">
    <nz-card nzTitle="Reset Password" style="width: 400px;">
      <form nz-form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Password</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Please input your password!">
            <input nz-input formControlName="password" type="password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSpan]="6" nzRequired>Confirm Password</nz-form-label>
          <nz-form-control [nzSpan]="14" nzErrorTip="Please confirm your password!">
            <input nz-input formControlName="confirmPassword" type="password" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" [disabled]="!resetForm.valid">Reset Password</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </nz-card>
  </div>
  