<div class="container p-3 pt-0 px-5" style="width: 100%;" *ngIf="displayForm">
  
        <div class="d-flex justify-content-end align-items-center">
                <div *ngIf="ticket?.status === TICKETSTATE.WORKINPROGRESS"class="d-flex justify-content-end align-items-center " style="margin-bottom: 10px;">
                <button  [disabled]="taskController()"  nz-button nzType="primary" (click)="saveStatus(TICKETSTATE.CLOSED)">Close SWO Complete</button>
                <button  [disabled]="taskController()"  class="mx-2 btn-outline-warning" nz-button nzType="primary"(click)="saveStatus(TICKETSTATE.WAITFORCLOSURE)">Close SWO Incomplete</button>
                <button  [disabled]="taskController()"  nz-button nzType="default" nzDanger (click)="saveStatus(TICKETSTATE.CANCEL)">Cancel SWO</button>
                </div>
            
            <button *ngIf="!displaySubmit && (ticket?.status === TICKETSTATE.ASSIGNED || ticket?.status === TICKETSTATE.WORKINPROGRESS )&& this.currentUser && this.currentUser?.role === ROLE.NOC"
                        nz-button nzType="primary" type="button"(click)="updateTicket()">Save</button>
        </div>    
           
      

    <form style="width: 100%;" nz-form [formGroup]="ticketForm!" (ngSubmit)="submitForm()">
        <div class="d-flex justify-content-between align-items-center">
            <div *ngIf="!ticket || ticket.status === TICKETSTATE.ASSIGNED">{{!ticket ? 'NEW TICKET': 'TICKET : '+
                ticket.reference}}</div>
            <div class="text-end mb-2" style="margin-right: 60px;">
                <button
                    *ngIf="!displaySubmit && ticket?.status === TICKETSTATE.ASSIGNED && this.currentUser && this.currentUser?.role !== ROLE.NOC"
                    nz-button nzType="primary">Accept</button>
                    
                <button *ngIf="displaySubmit" nz-button nzType="primary">Submit</button>
            </div>

        </div>

        <app-ticket-management-steper [status]="this.ticket?.status"></app-ticket-management-steper>
        <div class="d-flex justify-content-between mt-3">
            <div class="alarm-tiket-form-left w-50">
                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="number">Number</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The number is not valid">
                        <input nz-input id="number" formControlName="number" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzRequired>Site</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="sites"
                                [ngModel]="ticketForm!.get('site')?.value?.siteId" [disabled]="this.ticket !== undefined"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="onSiteInput($event)"
                                [value]="ticketForm!.get('site')?.value?.siteId" placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #sites>
                            <nz-auto-option *ngFor="let option of filteredSites" [nzValue]="option"
                                [nzLabel]="option.siteId">{{option.siteId}}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Site Access Request</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="siteAccessRequest"
                                formControlName="siteAccessRequest" placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #siteAccessRequest>
                            <nz-auto-option *ngFor="let option of filteredSiteAccessRequests" [nzValue]="option">{{
                                option }}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label nzRequired [nzSpan]="10">Priority</nz-form-label>
                    <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                        <nz-select name="select-validate" nzPlaceHolder="Priority" formControlName="priority">
                            <nz-option *ngFor="let p of priorities" [nzValue]="p"
                                [nzLabel]="p.name">{{p.name}}</nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Alarm Checklist</nz-form-label>
                    <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                        <label nz-checkbox formControlName="alarmChecklist"></label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">P0P4Tab</nz-form-label>
                    <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                        <label nz-checkbox formControlName="p0P4Tab"></label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">SWO auto Created</nz-form-label>
                    <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                        <label nz-checkbox formControlName="swoAutoCreated"></label>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Task Reference</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="taskRef" formControlName="taskReference"
                                placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #taskRef>
                            <nz-auto-option *ngFor="let option of filteredTaskRefs" [nzValue]="option">{{ option
                                }}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzFor="datePicker">Actuel WO Date</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24">
                        <nz-date-picker style="width: 100%;" formControlName="woDate" nzFormat="yyyy-MM-dd"
                            nzShowTime></nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="alarm-tiket-form-right w-50">
                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="state">State</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <input nz-input id="state" formControlName="state" />
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10">Assignment group</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="assignmentGroup"
                                [disabled]="this.ticket !== undefined && (this.ticket.status === TICKETSTATE.CLOSED || this.ticket.status === TICKETSTATE.WAITFORCLOSURE)"
                                [ngModel]="ticketForm!.get('assignmentGroup')?.value?.name??''"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="onAssignmentGroupInput($event)"
                                [value]="ticketForm!.get('assignmentGroup')?.value?.name??''" placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #assignmentGroup>
                            <nz-auto-option *ngFor="let option of filteredAssignmentGroups" [nzValue]="option"
                                [nzLabel]="option.name">{{ option.name }}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSpan]="10" nzRequired>Assigned to</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <nz-input-group nzPrefixIcon="search">
                            <input type="text" nz-input [nzAutocomplete]="assignedTo"
                            [disabled]="this.ticket !== undefined && (this.ticket.status === TICKETSTATE.CLOSED || this.ticket.status === TICKETSTATE.WAITFORCLOSURE)"
                                [ngModel]="ticketForm!.get('assignedTo')?.value?.firstName !== undefined ? ticketForm!.get('assignedTo')?.value?.firstName??'' +' '+ ticketForm?.get('assignedTo')?.value?.lastName??'':''"
                                [ngModelOptions]="{standalone: true}" (ngModelChange)="onAssignedToInput($event)"
                                [value]=" ticketForm!.get('assignedTo')?.value?.firstName !== undefined ? ticketForm!.get('assignedTo')?.value?.firstName??'' +' '+ ticketForm?.get('assignedTo')?.value?.lastName??'': ''"
                                placeholder="Search...">
                        </nz-input-group>
                        <nz-autocomplete #assignedTo>
                            <nz-auto-option *ngFor="let option of filteredAssignedTo" [nzValue]="option"
                                [nzLabel]="option.firstName??'' +' '+ option.lastName??''">{{ option.firstName??'' +' '+
                                option.lastName??'' }}</nz-auto-option>
                        </nz-autocomplete>
                    </nz-form-control>
                </nz-form-item>

                <nz-form-item>
                    <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="gpsLocation">GPS location</nz-form-label>
                    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid">
                        <input nz-input id="gpsLocation" formControlName="gpsLocation" />
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>

        <div class="mt-2">
            <nz-form-item style="width: 100%;">
                <nz-form-label [nzSm]="4" nzFor="shortDescription">Short description</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid">
                    <input nz-input id="shortDescription" formControlName="shortDescription" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 100%;">
                <nz-form-label [nzSm]="4" nzFor="partShortDescription">Part Short description</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid">
                    <input nz-input id="partShortDescription" formControlName="partShortDescription" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 100%;">
                <nz-form-label [nzSm]="4" nzFor="description">Description</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid">
                    <textarea nz-input formControlName="description"
                        placeholder="Autosize height with minimum and maximum number of lines"
                        [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item style="width: 100%;">
                <nz-form-label [nzSm]="4" nzFor="workNote">Work Note</nz-form-label>
                <nz-form-control [nzSm]="24" [nzXs]="24" nzErrorTip="The input is not valid">
                    <textarea nz-input formControlName="workNote"
                        placeholder="Autosize height with minimum and maximum number of lines"
                        [nzAutosize]="{ minRows: 2, maxRows: 6 }"></textarea>
                </nz-form-control>
            </nz-form-item>
        </div>


        <nz-card class="w-100 p-0 mt-4">
            <div class="d-flex justify-content-between">
                <div class="w-50 text-start">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="8" nzFor="fault-code-prefix">Fault Code
                            Prefix</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="fault-code-prefix" nzPlaceHolder="Fault Code Prefix"
                                formControlName="faultCodePrefix">
                                <nz-option *ngFor="let fcp of faultCodePrefixes" [nzValue]="fcp"
                                    [nzLabel]="fcp">{{fcp}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="8" nzFor="fault-category">Fault Category</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="fault-category" nzPlaceHolder="Fault Category" formControlName="faultCategory">
                                <nz-option *ngFor="let fc of faultCategories" [nzValue]="fc"
                                    [nzLabel]="fc">{{fc}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="8" nzFor="fault-group">Fault Group</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="fault-group" nzPlaceHolder="Fault Group" formControlName="faultGroup">
                                <nz-option *ngFor="let fg of faultGroups" [nzValue]="fg"
                                    [nzLabel]="fg">{{fg}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="8" nzFor="fault">Fault</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="fault" nzPlaceHolder="Fault" formControlName="fault">
                                <nz-option *ngFor="let f of faults" [nzValue]="f" [nzLabel]="f">{{f}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>


                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="8" nzFor="fault-code">Fault Code</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="fault-code" nzPlaceHolder="Fault Code" formControlName="faultCode">
                                <nz-option *ngFor="let code of faultCodes" [nzValue]="code"
                                    [nzLabel]="code">{{code}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div class="w-50">
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="type">Type</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="type" nzPlaceHolder="Type" formControlName="partType">
                                <nz-option *ngFor="let type of types" [nzValue]="type"
                                    [nzLabel]="type">{{type}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="spheres">Spares</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="spheres" nzPlaceHolder="Spheres" formControlName="spheres">
                                <nz-option *ngFor="let sphere of spheres" [nzValue]="sphere"
                                    [nzLabel]="sphere">{{sphere}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="part-category">Part Category</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="part-category" nzPlaceHolder="Part Category"
                                formControlName="partCategory">
                                <nz-option *ngFor="let pc of partCategories" [nzValue]="pc"
                                    [nzLabel]="pc">{{pc}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="part-group">Part Group</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="part-group" nzPlaceHolder="Part Group" formControlName="partGroup">
                                <nz-option *ngFor="let pg of partGroups" [nzValue]="pg"
                                    [nzLabel]="pg">{{pg}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="part">Part</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="part" nzPlaceHolder="Part" formControlName="part">
                                <nz-option *ngFor="let p of parts" [nzValue]="p" [nzLabel]="p">{{p}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label nzRequired [nzSpan]="10" nzFor="part-code">Part Code</nz-form-label>
                        <nz-form-control [nzXs]="14" nzErrorTip="The input is not valid">
                            <nz-select name="part-code" nzPlaceHolder="Part Code" formControlName="partCode">
                                <nz-option *ngFor="let pc of partCodes" [nzValue]="pc" [nzLabel]="pc">{{pc}}</nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                        <nz-form-label [nzSm]="10" [nzXs]="24" nzFor="quantity">Quantity</nz-form-label>
                        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The number is not valid">
                            <input nz-input id="quantity" type="number" formControlName="quantity" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
	       <button *ngIf="displaySubmit" nz-button nztype="primary">Submit</button>

        </nz-card>

    </form>
   
    <app-ticket-image-manager *ngIf="this.ticket && this.ticket?.status !== TICKETSTATE.OPEN && this.ticket?.status !== TICKETSTATE.ASSIGNED"  [ticket]="this.ticket!"></app-ticket-image-manager>
</div>
<app-ticket-task-list *ngIf="tasks.length > 0" [listOfTicketTasks]="tasks" [ticket]="ticket"></app-ticket-task-list>

<ngx-loading [show]="loading"></ngx-loading>