<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzFor]="'title'" nzRequired>Title</nz-form-label>
      <nz-form-control>
        <input nz-input id="title" formControlName="title" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzFor]="'targetFund'" nzRequired>Target Fund</nz-form-label>
      <nz-form-control>
        <input nz-input id="targetFund" formControlName="targetFund" type="number" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzFor]="'image'" nzRequired>Image URL</nz-form-label>
      <nz-form-control>
        <input nz-input id="image" formControlName="image" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-label [nzFor]="'author'" nzRequired>Author</nz-form-label>
      <nz-form-control>
        <input nz-input id="author" formControlName="author" />
      </nz-form-control>
    </nz-form-item>
  
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!form.valid">
          Submit
        </button>
      </nz-form-control>
    </nz-form-item>
  </form>
  