
    <nz-header class="navbar">
      <!-- Hamburger menu -->
      <div class="menu-icon" (click)="toggleMenu()">
        <i nz-icon nzType="menu" nzTheme="outline"></i>
      </div>
  
      <!-- Notification Icon with Green Badge -->
      <div class="actions">
        <nz-badge [nzDot]="true" [nzStyle]="{ backgroundColor: 'orange' }">
          <i nz-icon nzType="bell" nzTheme="outline" style="color: green;" ></i>
        </nz-badge>
      </div>
    </nz-header>

  
  <!-- Collapsible Menu -->
  <nz-drawer
    [nzClosable]="true"
    [nzVisible]="isMenuOpen"
    [nzPlacement]="'left'"
    [nzTitle]="'Menu'"
    (nzOnClose)="toggleMenu()"
  >
   <ng-container *nzDrawerContent>
    <ul class="drawer-menu">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
   </ng-container>
    
  </nz-drawer>
  