<div class="d-flex alarm-stepper">
	<div [class.open-step-active]="status === 'OPEN' || status === null" [class.open-step]="status !== 'OPEN'">Open</div>
	<div [class.assigned-step-active]="status === 'ASSIGNED'" [class.assigned-step]="status !== 'ASSIGNED'">Assigned</div>
	<div class="progress-step" [class.active-step]="status === 'WORK_IN_PROGRESS'">Work in progress</div>
	<div class="waiting-closure-step" [class.active-step]="status === 'WAITING_CLOSURE'">Waiting closure</div>
	<div class="closed-step" [class.active-step]="status === 'CLOSED'">Closed</div>
  </div>
  