.alarm-stepper {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
  }
  
  .open-step,
  .assigned-step,
  .progress-step,
  .waiting-closure-step,
  .closed-step {
	flex: 1;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 51%, 0% 0%);
  }

  .open-step-active,
  .assigned-step-active,
  .progress-step-active,
  .waiting-closure-step-active,
  .closed-step-active {
	flex: 1;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 13% 51%, 0% 0%);
  }
  
  
  .open-step {
	background-color: #c4c4c4;
	color: #0766be;
	padding-right: 50px;
  }

  .open-step-active {
	background-color: #0766be;
	color: #ffffff;
	padding-right: 50px;
  }
  
  
  .assigned-step {
	background-color: #dedede;
	color: #0766be;
	padding-right: 60px;
	margin-left: -70px;
  }

  .assigned-step-active{
	background-color: #0766be;
	color: #ffffff;
	padding-right: 60px;
	margin-left: -70px;
  }
  
  .progress-step {
	background-color: #c4c4c4;
	color: #0766be;
	padding-right: 15px;
	margin-left: -70px;
  }

  .progress-step-active{
	background-color: #0766be;
	color: #ffffff;
	padding-right: 15px;
	margin-left: -70px;
  }
  
  .waiting-closure-step {
	background-color: #dedede;
	color: #0766be;
	padding-right: 15px;
	margin-left: -70px;
  }

  .waiting-closure-step-active {
	background-color: #0766be;
	color: #ffffff;
	padding-right: 15px;
	margin-left: -70px;
  }
  
  .closed-step {
	background-color: #ffc107;
	color: #0766be;
	padding-right: 50px;
	margin-left: -65px;
  }
  
  .active-step {
	background-color: #0766be !important;
	color: white;
  }
  