<div class="d-flex alarm-stepper">
	<div class="open-step" [ngClass]="{ 'active-step': status === 'OPEN' }">Open</div>
	<div class="assigned-step" [ngClass]="{ 'active-step': status === 'ASSIGNED' }">Assigned</div>
	<div class="progress-step" [ngClass]="{ 'active-step': status === 'WORK_IN_PROGRESS' }">Work in progress</div>
	<div class="waiting-closure-step" [ngClass]="{ 'active-step': status === 'WAITING_CLOSURE' }">Waiting closure</div>
	<div class="closed-step" [ngClass]="{ 'active-step': status === 'CLOSED' }">Closed</div>
  </div>
  