<form nz-form [formGroup]="lastDataDetailForm" >
    <nz-card style="width:100%;" [nzBodyStyle]="{padding: '0'}">
      <div class="row mt-4">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>SiteId</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input SiteId">
              <input nz-input formControlName="siteId" placeholder="SiteId" readonly />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Site Name</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Site Name">
              <input nz-input formControlName="siteName" placeholder="Site Name" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Latitude</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Latitude">
              <input type="number" nz-input formControlName="latitude" placeholder="Latitude" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Longitude</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Longitude">
              <input type="number" nz-input formControlName="longitude" placeholder="Longitude" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Fuel</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Fuel">
              <input type="number" nz-input formControlName="fuel" placeholder="Fuel" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Frequency</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Frequency">
              <input type="number" nz-input formControlName="freq" placeholder="Frequency" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IDC1</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IDC1">
              <input type="number" nz-input formControlName="idc1" placeholder="IDC1" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IDC2</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IDC2">
              <input type="number" nz-input formControlName="idc2" placeholder="IDC2" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IGL1</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IGL1">
              <input type="number" nz-input formControlName="igl1" placeholder="IGL1" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IGL2</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IGL2">
              <input type="number" nz-input formControlName="igl2" placeholder="IGL2" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IGL3</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IGL3">
              <input type="number" nz-input formControlName="igl3" placeholder="IGL3" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IL1</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IL1">
              <input type="number" nz-input formControlName="iL1" placeholder="IL1" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IL2</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IL2">
              <input type="number" nz-input formControlName="iL2" placeholder="IL2" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>IL3</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input IL3">
              <input type="number" nz-input formControlName="iL3" placeholder="IL3" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>UDC1</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input UDC1">
              <input type="number" nz-input formControlName="udc1" placeholder="UDC1" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>UDC2</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input UDC2">
              <input type="number" nz-input formControlName="udc2" placeholder="UDC2" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>UL1</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input UL1">
              <input type="number" nz-input formControlName="uL1" placeholder="UL1" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>UL2</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input UL2">
              <input type="number" nz-input formControlName="uL2" placeholder="UL2" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>UL3</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input UL3">
              <input type="number" nz-input formControlName="uL3" placeholder="UL3" />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Port</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Port">
              <input type="number" nz-input formControlName="port" placeholder="Port" />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Temperature</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Temperature">
              <input type="number" nz-input formControlName="temp" placeholder="Temperature" />
            </nz-form-control>
          </nz-form-item>
        </div>
        
      </div>
  
    </nz-card>
  </form>
  