<nz-card style="width: 100%;" [nzTitle]="'Source task = ' + ticket.reference" [nzBodyStyle]="{padding: '0'}" [nzExtra]="extraTemplate">
  <nz-table #table [nzData]="listOfTicketTasks">
    <thead>
      <tr>
        <th>Number</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Assigned to</th>
        <th>Short description</th>
        <th>Task type</th>
        <th>Additional site visit required?</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of listOfTicketTasks">
        <td><a [href]="'/admin/ticket/task?id='+task?.id">{{ task.number }}</a></td>
        <td>
          {{ task.priority }}
        </td>
        <td>
          <nz-form-item style="width: 110px;">
            <nz-form-control>
              <nz-select [(ngModel)]="task.status" (ngModelChange)="onStatusChange(task)">
                <nz-option *ngFor="let status of statusOptions" [nzDisabled]="task.status === status" [nzValue]="status" [nzLabel]="status"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </td>
        <td>{{ 'N/A' }}</td>
        <td>{{ task.shortDescription }}</td>
        <td>{{ task.type }}</td>
        <td>{{ task.additionalSiteVisiteRequired ? 'Yes' : 'No' }}</td>
      </tr>
    </tbody>
  </nz-table>
</nz-card>

<ng-template #extraTemplate>
  <button nz-button nzType="primary" (click)="router.navigate(['/admin/ticket/task'])">New</button>
</ng-template>
<ngx-loading [show]="loading"></ngx-loading>

