<div class="row">
 <div class="col-6">
    <div class="card mt-5">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Images before intervention</h2>
                <button nz-button nzType="primary" class="ms-2" [disabled]="this.ticket.status === TICKETSTATUS.CLOSED || this.ticket.status === TICKETSTATUS.WAITFORCLOSURE">
                    <label for="ticket-image-before" style="display: block; width: 100%; height: 100%; cursor: pointer;">
                        Upload
                        <input id="ticket-image-before" type="file" style="visibility: hidden; width: 0; height: 0;"
                            (change)="onFileSelected($event, IMAGE_TYPE.BEFORE_MAINTAIN)" accept="image/*">
                    </label>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
               
                    <div *ngFor="let doc of this.docBeforeMaints" class="col-12">
                        <div class="card card-body mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="doc.imageData" class="img-fluid" style="height: 220px;  " loading="lazy" />
                                </div>
                                <div class="col-6">
                                    <p class="mt-2">Uploaded at : {{doc.createdAt | dateFormat}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
 </div>
 <div class="col-6">
    <div class="card mt-5">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Images after intervention</h2>
                <button nz-button nzType="primary" class="ms-2" [disabled]="this.ticket.status === TICKETSTATUS.CLOSED || this.ticket.status === TICKETSTATUS.WAITFORCLOSURE">
                    <label for="ticket-image-after" style="display: block; width: 100%; height: 100%; cursor: pointer;">
                        Upload
                        <input id="ticket-image-after" type="file" style="visibility: hidden; width: 0; height: 0;"
                            (change)="onFileSelected($event, IMAGE_TYPE.AFTERM_MAINTAIN)" accept="image/*">
                    </label>
                </button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                
                    <div *ngFor="let doc of this.docAfterMaints"  class="col-12">
                        <div class="card card-body mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="doc.imageData" class="img-fluid" style="height: 220px;  " loading="lazy" />
                                </div>
                                <div class="col-6">
                                    <p class="mt-2">Uploaded at : {{doc.createdAt | dateFormat}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
 </div>
</div>

<h6 class="text-center p-4 fw-bold p-2 border mt-3 mb-2 bg-white" style="font-size: 22px;">Insérer d'autres images</h6>

<div class="row">
   <div class="col-6">
      <div class="card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h2>Index compteur Sénélec</h2>
                <button nz-button nzType="primary" class="ms-2" [disabled]="this.ticket.status === TICKETSTATUS.CLOSED || this.ticket.status === TICKETSTATUS.WAITFORCLOSURE">
                    <label for="ticket-image-senelec" style="display: block; width: 100%; height: 100%; cursor: pointer;">
                        Upload
                        <input id="ticket-image-senelec" type="file" style="visibility: hidden; width: 0; height: 0;"
                            (change)="onFileSelected($event,IMAGE_TYPE.SENELECMETER)" accept="image/*">
                    </label>
                </button>
            </div>
        </div>

        <div class="card-body">
            <div class="row">
                
                    <div *ngFor="let doc of this.docSenelectMeter"  class="col-12">
                        <div class="card card-body mt-3">
                            <div class="row">
                                <div class="col-6">
                                    <img [src]="doc.imageData" class="img-fluid" style="height: 220px;  " loading="lazy" />
                                </div>
                                <div class="col-6">
                                    <p class="mt-2">Uploaded at : {{doc.createdAt | dateFormat}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
      </div>
   </div>
   <div class="col-6">
    <div class="card">
      <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Tension Batterie</h2>
              <button nz-button nzType="primary" class="ms-2" [disabled]="this.ticket.status === TICKETSTATUS.CLOSED || this.ticket.status === TICKETSTATUS.WAITFORCLOSURE">
                  <label for="ticket-image-fluent" style="display: block; width: 100%; height: 100%; cursor: pointer;">
                      Upload
                      <input id="ticket-image-fluent" type="file" style="visibility: hidden; width: 0; height: 0;"
                          (change)="onFileSelected($event, IMAGE_TYPE.FLUENT_BETTERY)" accept="image/*">
                  </label>
              </button>
          </div>
      </div>
      <div class="card-body">
        <div class="row">
            
                <div *ngFor="let doc of this.docFluentBattery"  class="col-12">
                    <div class="card card-body mt-3">
                        <div class="row">
                            <div class="col-6">
                                <img [src]="doc.imageData" class="img-fluid" style="height: 220px;  " loading="lazy" />
                            </div>
                            <div class="col-6">
                                <p class="mt-2">Uploaded at : {{doc.createdAt | dateFormat}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
      
    </div>
 </div>
 <div class="col-6 offset-xs-6"></div>
 <div class="col-6 mt-4">
    <div class="card">
      <div class="card-header">
          <div class="d-flex justify-content-between align-items-center">
              <h2>Courant Batterie</h2>
              <button nz-button nzType="primary" class="ms-2" [disabled]="this.ticket.status === TICKETSTATUS.CLOSED || this.ticket.status === TICKETSTATUS.WAITFORCLOSURE">
                  <label for="ticket-image-voltage" style="display: block; width: 100%; height: 100%; cursor: pointer;">
                      Upload
                      <input id="ticket-image-voltage" type="file" style="visibility: hidden; width: 0; height: 0;"
                          (change)="onFileSelected($event, IMAGE_TYPE.BETTERY_VOLTAGE)" accept="image/*">
                  </label>
              </button>
          </div>
      </div>

      <div class="card-body">
        <div class="row">
            
                <div *ngFor="let doc of this.docBattryVoltage"  class="col-12">
                    <div class="card card-body mt-3">
                        <div class="row">
                            <div class="col-6">
                                <img [src]="doc.imageData" class="img-fluid" loading="lazy" style="height: 220px;  "  />
                            </div>
                            <div class="col-6">
                                <p class="mt-2">Uploaded at : {{doc.createdAt | dateFormat}}</p>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
      
    </div>
 </div>
</div>


