<div>
  <div class="admin-top-menu"
    style=" padding-left: 25px; padding-right: 25px; padding-top: 15px; padding-bottom: 15px; left: 330px; top: 0px; position: absolute; background: white; justify-content: space-between; align-items: center; display: inline-flex">
    <div style="height: 24px; justify-content: flex-start; align-items: center; gap: 20px; display: flex">
      <div
        style="width: 24px; height: 24px; padding-left: 4px; padding-right: 4px; padding-top: 6px; padding-bottom: 6px; justify-content: center; align-items: center; display: flex">
        <div style="width: 16px; height: 12px; position: relative">
          <div
            style="width: 0px; height: 16px; left: 16px; top: 0px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
          </div>
          <div
            style="width: 0px; height: 16px; left: 16px; top: 6px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
          </div>
          <div
            style="width: 0px; height: 16px; left: 16px; top: 12px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
          
          </div>
          
        </div>
      </div>
    </div> 
    <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
     <!--  <div style="justify-content: flex-start; align-items: center; gap: 16px; display: flex">
        <div
          style="width: 40px; align-self: stretch; padding: 8px; border-radius: 8px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
          <div style="width: 24px; height: 24px; justify-content: center; align-items: center; gap: 8px; display: flex">
             <div
              style="width: 24px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 4px; padding-right: 4.35px; justify-content: center; align-items: center; display: flex">
              <div style="width: 15.65px; height: 20px; position: relative">
               <img src="../../../assets/message square.jpg" alt="">
                
              </div>
            </div> 
             
          </div>
        </div>
       
      </div> -->
      <!-- <div style="width: 0px; height: 40px; border: 1px #F0F1F3 solid"></div> -->
      <div
        style="width: 199px; align-self: stretch; justify-content: flex-start; align-items: center; gap: 12px; display: flex">
        <div style="flex-direction: column; justify-content: flex-start; align-items: flex-end; display: inline-flex">
          <img style="width: 32px; height: 32px; border-radius: 100px" src="https://via.placeholder.com/32x32" />
          <div style="width: 10px; height: 10px; background: #0FD073; border-radius: 9999px; border: 2px white solid">
          </div>
        </div>
        <div style="flex-direction: column; justify-content: center; align-items: flex-start; display: inline-flex"
          *ngIf="authservice.isAuthenticate==true">
          <div
            style="color: #20252A; font-size: 14px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.07px; word-wrap: break-word">
            {{this.authservice.username}}</div>
          <div
            style="color: #727272; font-size: 12px; font-family: Poppins; font-weight: 400; line-height: 20px; letter-spacing: 0.06px; word-wrap: break-word">
            {{this.authservice.roles}}</div>
        </div>
        
        <img src="../../../assets/Down.jpg" alt="">
      </div>
    </div>
  </div>
  <div
  
    style="width: 330px; height: 1205px; left: 0px; top: 0px; position: absolute; box-shadow: 0px 6px 40px rgba(0, 0, 0, 0.03); justify-content: flex-start; align-items: flex-start; gap: 10px; display: inline-flex">
    <div style="flex: 1 1 0; height: 1205px; background: white" >
      <img src="../../../assets/RMS.png" alt="" style="width: 40%; z-index: 1px;;">
    </div>
  </div>
  
  <div
    style="width: 330px; left: 0px; top: 104px; position: absolute; flex-direction: column; justify-content: space-between; align-items: flex-start; display: inline-flex">
    <div style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 5px; display: flex">
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div style="width: 24px; height: 24px; padding: 3px; justify-content: center; align-items: center; display: flex">
          
          <!-- <div style="width: 18px; height: 18px; position: relative">
            <div
              style="width: 16px; height: 16px; left: 0px; top: 2px; position: absolute; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 7px; height: 7px; left: 18px; top: 0px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1.50px #20252A solid">
            </div>
          </div> -->
          <img src="../../../assets/Home.jpg" alt="">
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          <a routerLink="/admin/dashboard">Dashboard </a></div>
      </div>
      
      <div
        style="height: 218px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: #ECF6FF; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 8px; display: flex">
        <div
          style="align-self: stretch; padding-top: 10px; padding-bottom: 10px; justify-content: flex-start; align-items: center; gap: 72px; display: inline-flex">
          <div
            style="flex: 1 1 0; height: 24px; justify-content: flex-start; align-items: center; gap: 8px; display: flex">
            <div
              style="width: 24px; height: 24px; padding-top: 2px; padding-bottom: 2px; padding-left: 4px; padding-right: 4.35px; justify-content: center; align-items: center; display: flex">
              <div style="width: 15.65px; height: 20px; position: relative">
                <img src="../../../assets/Bell.jpg" alt="">
                <div
                  style="width: 4.35px; height: 1.17px; left: 10px; top: 18.83px; position: absolute; transform: rotate(180deg); transform-origin: 0 0; border: 1.50px #20252A solid">
                </div>
              </div>
            </div>
            <div
              style="flex: 1 1 0; color: #0766BE; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
              Alarmes</div>
          </div>
          <div
            style="width: 24px; height: 24px; padding-top: 5px; padding-bottom: 5px; transform: rotate(90deg); transform-origin: 0 0; justify-content: center; align-items: center; display: flex">
            <div
              style="width: 14px; height: 6px; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 1.20px; border: 1.50px #0766BE solid">
            </div>
          </div>
        </div>
        <div
          style="align-self: stretch; padding-top: 7px; padding-bottom: 7px; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div
            style="width: 26.98px; height: 24px; padding-top: 7px; padding-bottom: 8px; padding-left: 8px; padding-right: 9.98px; justify-content: center; align-items: center; display: flex">
            <div style="width: 9px; height: 9px; border-radius: 13px; border: 1px #575757 solid"></div>
          </div>
          <div
            style="width: 254.03px; align-self: stretch; color: #575757; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
            <a routerLink="/admin/alarmes">Toutes les alarmes</a></div>
        </div>
        <div
          style="align-self: stretch; padding-top: 7px; padding-bottom: 7px; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div
            style="width: 26.98px; height: 24px; padding-top: 7px; padding-bottom: 8px; padding-left: 8px; padding-right: 9.98px; justify-content: center; align-items: center; display: flex">
            <div style="width: 9px; height: 9px; border-radius: 13px; border: 1px #0766BE solid"></div>
          </div>
          <div
            style="width: 254.03px; align-self: stretch; color: #0766BE; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
            <a routerLink="/admin/alarmes">Alarmes en cours</a></div>
        </div>
        <div
          style="align-self: stretch; padding-top: 7px; padding-bottom: 7px; padding-left: 20px; justify-content: flex-start; align-items: center; gap: 4px; display: inline-flex">
          <div
            style="width: 26.98px; height: 24px; padding-top: 7px; padding-bottom: 8px; padding-left: 8px; padding-right: 9.98px; justify-content: center; align-items: center; display: flex">
            <div style="width: 9px; height: 9px; border-radius: 13px; border: 1px #575757 solid"></div>
          </div>
          <div
            style="width: 254.03px; align-self: stretch; color: #575757; font-size: 18px; font-family: Poppins; font-weight: 400; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
            <a routerLink="/admin/alarmes">Alarmes en cours</a></div>
        </div>
      </div>
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        
        <div 
          style="width: 24px; height: 24px; padding-top: 4px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; justify-content: center; align-items: center; display: flex">
          <img src="../../../assets/Coins.jpg" alt="">
          <div style="width: 14px; height: 17px; border: 1.50px #20252A solid">
            
          </div>
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          <a routerLink="/admin/lue">Données lues</a></div>
      </div>
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div
          style="width: 24px; height: 24px; padding-left: 4px; padding-right: 4px; padding-top: 2px; padding-bottom: 2px; justify-content: center; align-items: center; display: flex">
          <div style="width: 16px; height: 20px; position: relative">
            <div
              style="width: 8px; height: 11px; left: 0px; top: 0px; position: absolute; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 8px; height: 11px; left: 8px; top: 2px; position: absolute; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 18px; height: 0px; left: 0px; top: 2px; position: absolute; transform: rotate(90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
            </div>
          </div>
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          Vue carte</div>
      </div>
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div
          style="width: 24px; height: 24px; padding-top: 4px; padding-bottom: 3px; padding-left: 3.50px; padding-right: 3.50px; justify-content: center; align-items: center; display: flex">
          <div style="width: 17px; height: 17px; position: relative">
            <div
              style="width: 7px; height: 4px; left: 0px; top: 0px; position: absolute; border-radius: 2.50px; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 7px; height: 10px; left: 0px; top: 7px; position: absolute; border-radius: 2.50px; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 7px; height: 10px; left: 10px; top: 0px; position: absolute; border-radius: 2.50px; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 7px; height: 4px; left: 10px; top: 13px; position: absolute; border-radius: 2.50px; border: 1.50px #20252A solid">
            </div>
          </div>
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          Equipements</div>
      </div>
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        
        <div 
          style="width: 24px; height: 24px; padding-top: 1.50px; padding-bottom: 2.50px; padding-left: 2.50px; padding-right: 2.50px; justify-content: center; align-items: center; display: flex">
          <img src="../../../assets/Coins.jpg" alt="">
          <div style="width: 19px; height: 20px; border: 1.50px #20252A solid">
            
          </div>
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          Sites en service</div>
      </div>
      <div
        style="width: 330px; padding-left: 20px; padding-right: 20px; padding-top: 18px; padding-bottom: 18px; background: white; justify-content: flex-start; align-items: center; gap: 8px; display: inline-flex">
        <div
          style="width: 24px; height: 24px; padding: 2px; justify-content: center; align-items: center; display: flex">
          <div style="width: 20px; height: 20px; position: relative">
            <div
              style="width: 20px; height: 20px; left: 0px; top: 0px; position: absolute; border-radius: 5px; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 3px; height: 0px; left: 6px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 10px; height: 0px; left: 10px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
            </div>
            <div
              style="width: 7px; height: 0px; left: 14px; top: 15px; position: absolute; transform: rotate(-90deg); transform-origin: 0 0; border: 1.50px #20252A solid">
            </div>
          </div>
        </div>
        <div
          style="flex: 1 1 0; color: #20252A; font-size: 18px; font-family: Poppins; font-weight: 500; line-height: 20px; letter-spacing: 0.09px; word-wrap: break-word">
          Reporting</div>
        <div
          style="width: 24px; height: 24px; padding-top: 5px; padding-bottom: 5px; transform: rotate(-90deg); transform-origin: 0 0; justify-content: center; align-items: center; display: flex">
          <div
            style="width: 14px; height: 6px; transform: rotate(-90deg); transform-origin: 0 0; border-radius: 1.20px; border: 1.50px #20252A solid">
          </div>
        </div>
      </div>