<google-map height="800px" width="100%" [center]="center" [zoom]="zoom">
  <map-marker  #markerElem="mapMarker" *ngFor="let marker of markers; let i = index" 
  [position]="{lat:marker.sites.latitude,lng:marker.sites.longitude}"
  [options]="marker.options"
  (mapClick)="openInfo(markerElem,infoWindow)"
  [id]="marker.id">
    <map-info-window #infoWindow="mapInfoWindow">
      <table class="table table-bordered">
        <thead>
          <tr>
            
            <td>ID Site:</td>
            <td>Nom Site:</td>
            <td>Heure (Donnees):</td>
            <td>Tension DC</td>
            <td>Courant DC</td>
            <td>alarm_severity</td>
          </tr>
        </thead>
        <tbody>
          <tr >
            <td>{{ marker.sites.siteId}}</td>
            <td>{{ marker.sites.siteName }}</td>
            <td>{{ marker.dateDebut}}</td>
            <td>{{ marker.u_DC_start}}</td>
            <td>{{ marker.i_DC_start}}</td>
            <td>{{ marker.alarm_severity}}</td>
          </tr>
        </tbody>
      </table>
    </map-info-window>
  </map-marker>
</google-map>
