html, body{
    max-width: 100vw !important;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    min-height: 100vh;
    height: 100vh;
}

.amin-main-layout{
    width: 100vw !important; 
    height: 100vh !important; 
    position: relative; 
    background: #F7F9FA;
    display: flex;
    align-items: start;
    justify-content: center;
    

}

.amin-main-layout .side-bar{

    width: 300px;
    background-color: white;
    height: 100vh;
    min-height: 100vh;

}

.amin-main-layout .body{
    width: calc(100vw - 300px);
    min-height: 100vh;
}

.ant-layout-header, .ant-layout-sider{
    background-color: #FFFFFF;
}

.ant-layout-content{
    min-height: calc(100vh - 64px);
    background-color: #F7F9FA;
    padding: 10px 30px;
}

.ant-input{
    font-weight: 500;
}


.ant-btn-primary{
    background-color: #0766BE !important;
}

.btn-outline-warning{
    border-color:  #ffc107 !important;
    background-color: #FFFFFF !important;
    color: #ffc107 !important;
}

.ant-form-item{
    margin-bottom: 3px !important;
  }

  .ant-table-row:hover{
    background-color: #dadbdc;
    transition: 0.5s all;
  }

  .ant-layout-content{
    padding: 10px !important;
  }
  
  .ant-drawer-content {
    height: 100%;
    overflow-y: scroll;
  }

  .ant-card-meta-detail > div:not(:last-child) {
    margin-bottom: 20px;
}
