<form nz-form [formGroup]="siteForm" *ngIf="!loading">
    <nz-card style="width:100%;" [nzBodyStyle]="{padding: '0'}" nzTitle="Site Details" [nzExtra]="extraTemplate">
      <div class="row mt-4">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>SiteId</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input SiteId">
              <input nz-input formControlName="siteId" placeholder="SiteId" readonly  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>HTS Site ID</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input HTS Site ID">
              <input nz-input formControlName="customerId" placeholder="HTS Site ID"  />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Site Name</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Site Name">
              <input nz-input formControlName="siteName" placeholder="Site Name"  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Site Class</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Site Class">
              <input nz-input formControlName="siteClass" placeholder="Site Class"  />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
  
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Site Type</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Site Type">
              <input nz-input formControlName="siteType" placeholder="Site Type"  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Cluster</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Cluster">
              <input nz-input formControlName="clusterNumber" placeholder="Cluster"  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>User Group</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input User Group">
              <input nz-input formControlName="userGroup" placeholder="User Group"  />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>Battery</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input Battery">
              <input nz-input formControlName="battery" placeholder="Battery"  />
            </nz-form-control>
          </nz-form-item>
        </div>
       
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>GE</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input GE">
              <input nz-input formControlName="ge" placeholder="GE"  />
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>FS</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input FS">
              <input nz-input formControlName="fs" placeholder="FS"  />
            </nz-form-control>
          </nz-form-item>
        </div>
  
        <div class="col-6">
          <nz-form-item>
            <nz-form-label [nzSpan]="6" nzRequired>FE</nz-form-label>
            <nz-form-control [nzSpan]="14" nzErrorTip="Please input FE">
              <input nz-input formControlName="fe" placeholder="FE"  />
            </nz-form-control>
          </nz-form-item>
        </div>
       
      </div>
      <fieldset style="margin: 4px 20px;">
        <legend>Address</legend>
        <div class="row">
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">Country</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input Country">
                <input nz-input id="autocomplete" formControlName="country" placeholder="Enter your address" type="text"  />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">Region</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input Region">
                <input nz-input formControlName="region" placeholder="Region"  />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">City</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input City">
                <input nz-input formControlName="city" placeholder="City"  />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">Street</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input Street">
                <input nz-input formControlName="street" placeholder="Street"  />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">Latitude</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input Latitude">
                <input type="number" nz-input formControlName="lat" placeholder="Latitude"  />
              </nz-form-control>
            </nz-form-item>
          </div>
          <div class="col-6">
            <nz-form-item formGroupName="address">
              <nz-form-label [nzSpan]="6">Longitude</nz-form-label>
              <nz-form-control [nzSpan]="14" nzErrorTip="Please input Longitude">
                <input type="number" nz-input formControlName="lng" placeholder="Longitude"  />
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
      </fieldset>
    </nz-card>
    <ng-template #extraTemplate>
      <div class="d-flex justify-content-between align-items-center">
        <nz-form-item style="padding-top: 0px !important; margin-bottom: 0px !important;">
          <nz-form-control>
            <button nz-button nzType="primary" (click)="goBack()">Back</button>
          </nz-form-control>
        </nz-form-item>
      </div>
    </ng-template>
  </form>
  
<ngx-loading [show]="loading"></ngx-loading>
